In [1]:
# Pandas_Data_Frames

# syntax for DataFrame
# pandas.DataFrame(data,index,columns,dtype,copy)
# Note: columns is need optional field avilable from Data Frame.

# creating an empty DF

import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
# Creating a Data Frames with a list

import numpy as np
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
data = [['Kavya',80],['Pavan',70],['Nishant',95],['Manoj',55]]
df = pd.DataFrame(data, columns = ['studentName','Marks'])
print(df)

  studentName  Marks
0       Kavya     80
1       Pavan     70
2     Nishant     95
3       Manoj     55

In [4]:
data = [['Kavya',80],['Pavan',70],['Nishant',95],['Manoj',55]]
df = pd.DataFrame(data, columns = ['studentName','Marks'], dtype = float)
print(df)

  studentName  Marks
0       Kavya   80.0
1       Pavan   70.0
2     Nishant   95.0
3       Manoj   55.0

In [5]:
# creating a DF from a dictionary of ndarrays/list

data = {'Name': ['Mounika','Sri','Selva'], 'Marks':[24,28,25]}
y = pd.DataFrame(data, index = ['rank1','rank2','rank3'])
print(y)

          Name  Marks
rank1  Mounika     24
rank2      Sri     28
rank3    Selva     25

In [6]:
# Creating a DF from a list of Dict

data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
# In the above out if you value for 1,c is 20.0 which float value other values are integer.
# Reason: np.nan is float type.

In [10]:
# Creating a DF from a list of Dict

data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = int(pd.DataFrame (data))
print(df)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'